# {{ ansible_managed }}

# Automatically install files that do not exist on the system already (-i)
AUTO_INSTALL=

# Delete stale files in /etc/rc.d without prompting
DELETE_STALE_RC_FILES=

# Files to always avoid comparing
if [ -r {{ mergemaster_ignore_file }} ]; then
  IGNORE_FILES=$(cat {{ mergemaster_ignore_file }} | tr "\n" " ")
fi

# Preserve files that you replace (-P)
PRESERVE_FILES=
PRESERVE_FILES_DIR=/var/tmp/mergemaster/preserved-files-`date +%y%m%d-%H%M%S`
