# {{ ansible_managed }}

transmission_enable="YES"
transmission_flags="-e /var/log/transmission"
transmission_group="{{ downloads_group }}"
transmission_download_dir="{{ downloads_root }}"
transmission_watch_dir="{{ downloads_root }}"
