[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "colorschemes/solarized"]
	path = colorschemes/solarized
	url = https://github.com/altercation/solarized
