# {{ ansible_managed }}

server {
    root        /var/empty;

    access_log  /var/log/nginx/bydlenka-access.log;
    error_log   /var/log/nginx/bydlenka-error.log;

    location / {

        include sites-partials/downloads.conf;

        location /favicon.ico {
            log_not_found off;
        }
    }
}
