# {{ ansible_managed }}
user                 www www;
worker_processes     1;     # one(1) worker or equal the number of _real_ cpu cores. 4=4 core cpu
worker_priority      15;    # renice workers to reduce priority compared to system processes for
                            # machine health. worst case nginx will get ~25% system resources at nice=15

error_log /var/log/nginx/error.log;

events {
    worker_connections 512;  # number of parallel or concurrent connections per worker_processes
    accept_mutex       off;  # serially accept() connections and pass to workers, efficient if workers gt 1
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    # Timeouts: do not keep connections open longer then necessary to reduce
    # resource usage and deny Slowloris type attacks. Slow attacks are related to
    # pausing in between packets.
    client_body_timeout      2s; # maximum time between packets the client can pause when sending nginx any data
    client_header_timeout    2s; # maximum time the client has to send the entire header to nginx
    keepalive_timeout       28s; # timeout which a single keep-alive client connection will stay open
    send_timeout             2s; # maximum time between packets nginx is allowed to pause when sending the client data
    spdy_keepalive_timeout 128s; # inactivity timeout after which the SPDY connection is closed
    spdy_recv_timeout        2s; # timeout if nginx is currently expecting data from the client but nothing arrives

    # prefer certain ciphersuites, to enforce Perfect Forward Secrecy and avoid known vulnerabilities.
    # done in consultation with:
    #   http://ggramaize.wordpress.com/2013/08/02/tls-perfect-forward-secrecy-support-with-apache/
    #   https://www.ssllabs.com/ssltest/analyze.html
    ssl_prefer_server_ciphers on;
    ssl_ciphers    ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-AES256-SHA:ECDHE-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:RC4-SHA:AES128-SHA:AES256-SHA:DES-CBC3-SHA:RC4-MD5;
    ssl_ecdh_curve secp521r1;

    # turn on session resumption, using a 10 min cache shared across nginx processes
    # as recommended by http://nginx.org/en/docs/http/configuring_https_servers.html
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;

    # OCSP stapling
    ssl_stapling on;

    # SPDY
    spdy_headers_comp           6;  # SPDY gzip header compression, use 5 or at least 1 if CPU limited (default 0)
    spdy_max_concurrent_streams 50; # SPDY maximum parallel client requests (default 100)

    # can't be paranoid enough
    max_ranges     1;   # allow only one range
    server_tokens  off; # don't tell our version

    sendfile        off; # sendfile on ZFS is said to suck
    postpone_output 0;   # no postpone, ZFS ARC and L2ARC can instantly saturate the nginx buffer

    include sites-enabled/*;
}
