<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- {{ ansible_managed }} -->
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>net.juliekoubova.TorrentUploader</string>
        <key>ProgramArguments</key>
        <array>
                <string>{{ ansible_env.HOME }}/Library/JulieKoubova/TorrentUploader.sh</string>
        </array>
        <key>WatchPaths</key>
        <array>
                <string>{{ torrent_uploader_source }}</string>
        </array>
</dict>
</plist>
