# {{ ansible_managed }}

{% if openvpn.bind_ip | default(openvpn_bind_ip) is defined %}
local {{ openvpn.bind_ip | default(openvpn_bind_ip) }}
{% endif %}

dev   {{ openvpn.dev   | default(openvpn_dev) }}
port  {{ openvpn.port  | default(openvpn_port) }}
proto {{ openvpn.proto | default(openvpn_proto) }}

server {{ openvpn.ipv4.network | default(openvpn_ipv4_network) | mandatory }} {{ openvpn.ipv4.mask | default(openvpn_ipv4_mask) | mandatory }}

{% for p in openvpn.push | default(openvpn_push) | default([]) %}
push "{{ p }}"
{% endfor %}

{% if openvpn.keepalive | default(openvpn_keepalive) %}
keepalive   {{ openvpn.keepalive | default(openvpn_keepalive) }}
{% endif %}

{% if openvpn.status | default(openvpn_status) %}
status      {{ openvpn.status | default(openvpn_status) }}
{% endif %}

{% if openvpn.max_clients | default(openvpn_max_clients) %}
max-clients {{ openvpn.max_clients | default(openvpn_max_clients) }}
{% endif %}

{% if openvpn.comp_lzo | default(openvpn_comp_lzo) %}
comp-lzo
{% endif %}

{% if openvpn.cipher | default(openvpn_cipher) %}
cipher      {{ openvpn.cipher | default(openvpn_cipher) }}
{% endif %}

{% if openvpn.tcp_nodelay | default(openvpn_tcp_nodelay) | default(false) %}
# disables the Nagle algorithm on TCP sockets
# In VPN applications over TCP, TCP_NODELAY is generally
# a good latency optimization.
tcp-nodelay
{% endif %}

{% if openvpn.reduce_privileges | default(openvpn_reduce_privileges) | default(true) %}
# reduce privileges
user   nobody
group  nobody
chroot /var/empty

# The persist options will try to avoid
# accessing certain resources on restart
# that may no longer be accessible because
# of the privilege downgrade.
persist-key
persist-tun
{% endif %}

{% set keys = openvpn_keys %}
{% if openvpn.keys is defined %}
{%    set keys = openvpn.keys %}
{% endif %}

<ca>
{{ lookup('file', keys.ca) }}
</ca>

<cert>
{{ lookup('file', keys.cert) }}
</cert>

<key>
{{ lookup('file', keys.key) }}
</key>

<dh>
{{ lookup('file', keys.dh) }}
</dh>
