# {{ ansible_managed }}
AllowGroups wheel
Banner none
VersionAddendum ""
X11Forwarding no

{% if sshd_privilege_separation is defined %}
UsePrivilegeSeparation {{ sshd_privilege_separation }}
{% endif %}

{% if sshd_port is defined %}
Port {{ sshd_port }}
{% endif %}
{% for address in sshd_addresses %}
ListenAddress {{ address }}
{% endfor %}

Subsystem   sftp    /usr/libexec/sftp-server
